{% extends 'base.html' %}
{% block head %}
<title>Create Post</title>
<style>
  .content {
    white-space: pre-wrap;
  }
</style>
{% endblock %}
{% block body %} 
<button onclick="document.location='/home'">Home</button>
<div class='createPost'>
    <input type="text" name="title" id="title" placeholder="Title">
    </br>
    <textarea class="content" name="content" id="content" rows="10" cols="50" placeholder="What's on your mind?"></textarea>
    <input type="submit" value="Post" onclick="createPost()">
</div>
{% endblock %}