{% extends 'base.html' %}

{% block head %}
<title>{{ userName }}'s home</title>
<style>
  p {
    font-size: 15px;
    line-height: 1.5;
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
  .content {
    text-decoration: none ;
    color: black;
  }
  .likeStr {
    color: black;
  }
</style>
{% endblock %}

{% block body %}
<form action='/logout' method="POST">
  <input type="submit" value="Log out">
</form>
<button onclick="document.location='/createPost'">Create new post!</button>
</br>
<button onclick="document.location='/feed'">News feed</button>
</br>
{% for post in posts %}
<div class="{{ post.id }}">
  <h3>{{ post.title }}</h3>
  <p><a href="/post/{{ post.id }}" class="content">{{ post.content }}</a></p>
  <p><a href="/likeList/{{ post.id }}" class="likeStr">{{ post.likeStr }}</a></p>
</div>
{% endfor %}

{% endblock %}