{% extends 'base.html' %}
{% block head %}
<title>Log in</title>
{% endblock %}
{% block body %} 
<button onclick="document.location='/signup'">Sign up</button>
{% if error != None %}
  <h3>{{ error }}</h3>
{% endif %}
<div class='login'>
  <form action='/login' method="POST">
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="text" name="password" id="password" placeholder="Password">
    <input type="submit" value="Log in">
  </form>
</div>
{% endblock %}