{% extends 'base.html' %}
{% block head %}
<title>Sign up</title>
{% endblock %}
{% block body %} 


<button onclick="document.location='/login'">Log in</button>
</br>
<div class="signUp">
  <input type="text" name="name" id="name" placeholder="Name">
  <input type="text" name="userName" id="userName" placeholder="Username">
  <input type="text" name="password" id="password" placeholder="Password">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="phoneNumber" id="phoneNumber" placeholder="PhoneNumber">
  <select name="occupation" id="occupation" onchange="CheckIfOthers(this.value)">
    <option value="Student">Student</option>
    <option value="Teacher">Teacher</option>
    <option>Others</option>
  </select>
  <input type="text" name="occupation" id="others" style='display:none;' placeholder="Occupation"/>
  <input type="submit" value="Create account" onclick="signUp()">
  <div class="g-signin2" data-onsuccess="onSignUpGG" data-width="198" data-height="28" data-longtitle="true"></div>
  <div class="fb-login-button" data-width="120px" data-size="medium" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile, email" onlogin="checkLoginStateSignUp();"></div>

  <script>displayInfo();</script>
</div>
{% endblock %}