{% extends 'base.html' %}

{% block head %}
<title>{{ userName }}'s update info</title>
{% endblock %}

{% block body %}
<div class="updateInfo">
    <input type="text" name="name" id="name" placeholder="Name">
    <input type="text" name="phoneNumber" id="phoneNumber" placeholder="PhoneNumber">
    <select name="occupation" id="occupation" onchange="CheckIfOthers(this.value)">
      <option value="Student">Student</option>
      <option value="Teacher">Teacher</option>
      <option >Others</option>
    </select>
    <input type="text" name="others" id="others" style='display:none;' placeholder="Occupation"/>
    <input type="submit" value="Update" onclick="updateInfo()">
    <script>displayInfo()</script>

</div>
{% endblock %}