{% extends 'base.html' %}

{% block head %}
<title>{{ userName }}'s update info</title>
<script type="text/javascript">
  function CheckIfOthers(val){
   var element=document.getElementById('others');
   if(val==='Others')
     element.style.display='inline';
   else  
     element.style.display='none';
  }  
</script> 
{% endblock %}

{% block body %}
<div class="updateInfo">
  <form action="/updateInfo" method="POST">
    <input type="text" name="name" id="name" placeholder="Name" value="{{ account.name }}">
    <input type="text" name="phonenumber" id="phonenumber" placeholder="PhoneNumber" value="{{ account.phoneNumber }}">
    <select name="occupation" id="occupation" onchange="CheckIfOthers(this.value)">
      <option value="Student">Student</option>
      <option value="Teacher">Teacher</option>
      <option >Others</option>
    </select>
    <input type="text" name="others" id="others" style='display:none;' placeholder="Occupation"/>
    <input type="submit" value="Update">
  </form>
</div>
{% endblock %}